.title { 
    color: #009879; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.editbtn {
    height: 20px;
    width: auto;
}

.btnDelete {
    height: 25px;
    width: auto;
}

.btnCreate{
    background-color: #009879;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
}

.btnCreate:hover{
    background-color: #9eeebb;
    transform: scale(1.05);
}